.match {
  display: grid;
  grid-template-columns: 0fr 0fr 5fr 1fr 1fr 0fr;
  margin: 1rem;
  place-items: center;
  width: 70rem;
}

.win {
  width: 1rem;
  height: 5rem;
  background-color: rgb(80, 80, 255);
  border-radius: 16px;
}

.lose {
  width: 1rem;
  height: 5rem;
  background-color: rgb(255, 80, 80);
  border-radius: 16px;
}

.detailButton {
  height: 5rem;
  font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 16px;
}

.detailButton:hover {
  background-color: rgb(225, 225, 225);
}